@import '_functions';

// Font-base
$font-base: 16 !default;

// Cores
$color-white: #fff;
$color-red: #e6565a;
$color-black: #222121;
$color-dark: #2d3549;
$color-gray: #737373;
$color-gray2: #ccc;
$color-orange: #fda849;
$color-yellow: #f3db42;
$color-yellow2: #bba216;
