@import '../_utilities/_exports';

.menu--open {
  .menu {
    left: 0;
  }

  .header_menuBtn {
    &:before {
      background-color: rgba($color-black, .4);
      bottom: 0;
      height: 100vh;
      left: 0;
      right: 0;
      top: 0;
      width: 100vw;
      z-index: 8;
    }
  }
}

/*.banner--active {
  .header {
    top: pxToRem(60);

    @media(min-width: pxToRem(768)) {
      top: pxToRem(45.78);
    }
  }

  .menu {
    @include calc(height, '100vh - #{pxToRem(120)}', null);
    top: pxToRem(120);

    @media(min-width: pxToRem(768)) {
      @include calc(height, '100vh - #{pxToRem(106)}', null);
      top: pxToRem(106);
    }
  }
}*/
