@import '../_utilities/_exports';

.main {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  padding: pxToRem(60) pxToRem(12) 0;
}

.contentBox {
  min-height: 100%;
  margin: 0 auto;
  max-width: pxToRem(992);
}

.page {
  margin: 0 auto;
  max-width: pxToRem(768);

  &--home {
    @extend .page;
    text-align: center;
  }
}
